Game Data/*
MonoBleedingEdge/*
Player Data/*
Sword Fight_Data/*
Sword Fight.exe
UnityCrashHandler64.exe
UnityPlayer.dll

BepInEx/LogOutput.log
BepInEx/Plugins/RuntimeUnityEditor
BepInEx/config/RuntimeUnityEditor.cfg
